
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    margin: 40px;
    padding: 25px;
    border: 2px solid #666;
    border-radius: 20px;
    max-width: fit-content;
}

header{
    height: 90px;
}

.logo {
    width: 35%;
    padding-top: 10px;
}

h1 {
    border-radius: 10px;
    text-align: center;
    font-style: bold;
    display: block;
    justify-content: space-around;
}

h3.titulo {
    padding: 15px;
    font-style: normal;
    font-weight: bold;
        
}

.formulario-de-registro {
    border: 5px solid #EAC926;
    padding: 10px 5px 10px 5px;
    margin: 20px 30px;
    border-radius: 20px;
}

.perfil-del-usuario {
    border: 5px solid #EAC926;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
    margin: 20px 30px;
    border-radius: 20px;
    line-height: 3px;
}

.elegir {
    border: 5px solid #EAC926;
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    font-size: 16px;
    border-radius: 20px;
}

.checkbox {
    display: contents;
    flex-wrap: wrap;
}

.submit {
    display: flex;
    background-color: #0044AA;
    color: #ebebeb;
    justify-content: center;

}

/*Footer*/

footer {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 90px;

}

footer i .card {
    justify-content: center;
    text-align: center;
    align-items: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;

}

.card,
.regalo,
.seguridad {
    font-size: 2em;
    background-color: white;
    color: #0044AA;
    height: 40px;
    width: 40px;

}

footer article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.copy {
    font-size: 20px;
    font-weight: normal;

}

/* Tablet */

@media (min-width: 576px){
    main {
    background-color: white;
    margin: 40px;
    padding: 25px;
    border: 2px solid #666;
    border-radius: 20px;
    max-width: fit-content;
}

}

/* Desktop */ 

@media (min-width: 992px){

}