* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

/*Header */

header {
    background-color: #EAC926;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 100%;
}

.logo {
    width: 30%;
    padding: 10px;
}

.search-nav {
    display: flex;
    align-items: center;
    padding: 2px;
    width: 65%;
}

header div.top-header p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-style: bold;
    font-size: 18px;
    justify-content: center;
    align-content: center;
}

header nav {
    font-size: 16px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.nav-menu-item {
    justify-content: flex-start;
    height: 20px;
    display: none;
}

.nav-header-menu {
    height: 20px;
    display: none;
    padding-right: 15px;
}

.search-nav input {
    width: 600px;
    height: 40px;
}

ul li {
    list-style-type: none;
    display: none;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: bold;
    justify-content: space-between;
    display: none;
}

.menu-hamburguesa {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.burguer {
    display: block;
    align-self: center;
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    padding: 10px;
    width: 40px;

}

section.banner img {
    width: 100%;
}

/*MAIN*/

main {
    display: block;
    background-color: #ebebeb;
    margin: auto;
    padding: 25px;
    max-width: 1200px;
    margin-bottom: 15px;
}

.create-form {
    padding: 20px 15px;
    max-width: 900px;
    margin: auto;
}

h1 {
    border-radius: 10px;
    text-align: center;
    font-style: bold;
    display: block;
    justify-content: space-around;
}

h3.titulo {
    padding: 15px;
    font-style: normal;
    font-weight: bold;

}

.formulario-de-registro {
    border: 5px solid #EAC926;
    padding: 10px 5px 10px 5px;
    margin: 20px 30px;
    border-radius: 20px;
    line-height: 40px;
}

.perfil-del-usuario {
    border: 5px solid #EAC926;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
    margin: 20px 30px;
    border-radius: 20px;
    line-height: 3px;
}

.elegir {
    border: 5px solid #EAC926;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    line-height: 15px;
    font-size: 16px;
    border-radius: 20px;
}

.checkbox {
    display: contents;
    flex-wrap: wrap;
}

.submit {
    display: flex;
    background-color: #0044AA;
    color: #ebebeb;
    justify-content: center;

}

/*Footer*/

footer {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 90px;

}

footer i .card {
    justify-content: center;
    text-align: center;
    align-items: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;

}

.card,
.regalo,
.seguridad {
    font-size: 2em;
    background-color: white;
    color: #0044AA;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;

}

footer article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.copy {
    font-size: 20px;
    font-weight: normal;
}

/* Tablet */

@media (min-width: 576px) {
    main {
        background-color: #ebebeb;
        margin: 40px;
        width: 100 vw;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .menu-hamburguesa {
        display: none;
    }
    
    .nav-menu-item {
        display: initial;
        justify-content: flex-start;
        text-align: center;
        height: 20px;
    }

    .nav-header-menu {
        display: initial;
        justify-content: flex-start;
        text-align: center;
        height: 20px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    .menu-hamburguesa {
        display: none;
    }

    ul li a {
        display: initial;
    }

    ul li {
        display: initial;
    }
}

/* Desktop */ 

@media (min-width: 992px){

}

